# LaTeX temporary build files to ignore
*.aux
*.log
*.fls
*.bcf
*.xml
*.synctex.gz
*.bbl
*.blg
*.fdb_latexmk
*.out

# Ignore the main compiled PDF if you don't want it online
# (Remove this line if you DO want to track main.pdf)
*.pdf
!main.pdf
